{% extends "generic/base_generic.html" %}

{% block header %}<b><i class="fa fa-shopping-cart"></i> Speisekammer</b>{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <h5>{{ product.name }}</h5>
        </div>
        <div class="row">
            <table class="table">
                <thead class="thead-inverse">
                    <tr>
                        <th>Barcode</th>
                        <th>Vorrat</th>
                        <th>Aktionen</th>
                    </tr>
                </thead>
                {% for i in instances %}
                    <tr>
                        <td>{{ i.barcode }}</td>
                        <td>{{ i.item_count }}</td>
                        <td>
                            <button class="btn btn-success"
                                    onclick="plus_one({{ i.barcode }})"><i class="fa fa-plus"></i></button>
                            <button class="btn btn-danger" onclick="minus_one({{ i.barcode }})">
                                <i class="fa fa-minus"></i></button>
                            <script>
                                // using jQuery
                                function getCookie(name) {
                                    var cookieValue = null;
                                    if (document.cookie && document.cookie !== '') {
                                        var cookies = document.cookie.split(';');
                                        for (var i = 0; i < cookies.length; i++) {
                                            var cookie = $.trim(cookies[i]);
                                            // Does this cookie string begin with the name we want?
                                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                                break;
                                            }
                                        }
                                    }
                                    return cookieValue;
                                }
                                var csrftoken = getCookie('csrftoken');

                                function csrfSafeMethod(method) {
                                    // these HTTP methods do not require CSRF protection
                                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                                }
                                $.ajaxSetup({
                                    beforeSend: function (xhr, settings) {
                                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                                        }
                                    }
                                });

                                function plus_one(barcode) {
                                    $.ajax({
                                        type: 'PUT',
                                        url: '/speisekammer_server/instances/' + barcode + '/item_count',
                                        success: function () {
                                            location.reload()
                                        }
                                    });
                                }

                                function minus_one(barcode) {
                                    $.ajax({
                                        type: 'DELETE',
                                        url: '/speisekammer_server/instances/' + barcode + '/item_count',
                                        success: function () {
                                            location.reload()
                                        }
                                    });
                                }
                            </script>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="row">
            <a href="{% url 'speisekammer_server:speisekammer_server' %}">zurück zur Übersicht</a>
        </div>
    </div>
{% endblock %}
