{% extends "generic/base_generic.html" %}

{% block header %}<b><i class="fa fa-shopping-cart"></i> Speisekammer</b>{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <h5 class="col-md-3">Produkte</h5>
            <form class="col-md-5" method="GET" action="{% url 'speisekammer_server:speisekammer_server' %}">
                <div class="form-group">
                    <input id="filter-input" type="text" class="form-control" name="filter" onkeyup="filterTable()" placeholder="Filter">
                </div>
            </form>
        </div>
        <div class="row">
            <table id="product-table" class="table table-sm">
                <thead class="thead-inverse">
                    <tr>
                        <th>Produkt</th>
                        <th>Gesamter Vorrat</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                {% for p in products %}
                    <tr>
                        <td>{{ p.name }}</td>
                        <td>{{ p.count_sum }}</td>
                        <td><a href="{% url 'speisekammer_server:product_detail' p.id %}">
                            <button class="btn btn-info"><i class="fa fa-search"></i>
                            </button>
                        </a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    function filterTable() {
        const filter = $("#filter-input").val();
        const tr = $("#product-table").find("tbody").find("tr");

        if (filter != null && filter != "") {
            tr.hide();
            tr.filter(":contains('" + filter + "')").show();
        } else {
            tr.show();
        }
    }
</script>
{% endblock %}
